*{
    box-sizing: border-box;
}

button {
    background-color: aqua;
    height: 50px;
    width: 75px;
}

.button-symbol {
    font-size: larger;
}

.equals-symbol {
    font-size: larger;
    width: 100%;
}