*{
    box-sizing: border-box
}

.grid-styling{
    display: grid;
    background-color: darkblue;
    border: 5px darkblue solid;
    width: 100%;
    height: auto;
    grid-template-areas:
    ". . . "
    ". . ."
    ". . ."
    ". . ."
    ". . ."
    "display display display"
    ". equals equals";
    justify-content: center;
}

.equals-position {
    grid-area: equals;
}
.display-position {
    grid-area: display;
}

.white{
    color: #FAEBD7;
}

.display-answer{
    background-color: antiquewhite;
    height: 50px;
    width: 225px;
    border: 5px darkblue solid;
    text-align: end;
}