*{
    box-sizing: border-box
}

.grid-styling{
    display: grid;
    background-color: darkblue;
    border: 5px darkblue solid;
    width: 100%;
    height: auto;
    grid-template-areas:
    ". . . "
    ". . ."
    ". . ."
    ". . ."
    ". . ."
    "display display display";
    justify-content: center;
}

.display-position{
    grid-area: display;
}

.white{
    color: #FAEBD7;
}